{{ ansible_managed | comment('plain', prefix='#######\n#', postfix='#\n#######\n') }}
set realname = "Daniel Andrei Minca"
set from = "$realname <{{ mutt_hotmail_user }}>"
set mbox_type = Maildir
set folder = "imaps://imap-mail.outlook.com"
set imap_user = "{{ mutt_hotmail_user }}"
set imap_pass = "{{ mutt_hotmail_pass }}"
set spoolfile = "imaps://$imap_user:$imap_pass@imap-mail.outlook.com/INBOX"
set ssl_starttls = yes

# sending email
set smtp_url = "smtp://$imap_user:$imap_pass@smtp-mail.outlook.com:587/"
set postponed = "=Drafts"
set record = "=Sent"

###  Colors
color status    white blue

set signature = ~/.mutt/personal_signature
# vim: ft=muttrc
