{{ ansible_managed | comment('plain', prefix='#######\n#', postfix='#\n#######\n') }}
source ~/.mutt/personal_muttrc

# keybindings
macro index b '<enter-command>toggle sidebar_visible<enter>'
macro pager b '<enter-command>toggle sidebar_visible<enter>'
bind index G imap-fetch-mail
bind pager G imap-fetch-mail

# reduce mail polling to something more sane
set mail_check = 900
set timeout = 15    # after 15s of no key press, check for new email

# writing email
set sig_on_top                       # include signature above quote
set envelope_from                    # which from?
set sig_dashes                       # dashes before sig
set fast_reply                       # skip to compose when replying
set askcc                            # ask for CC:
set fcc_attach                       # save attachments with the body
set mime_forward                     # forward message as part of body
set mime_forward_rest                # forward attachments as part of body
set forward_format = "Fwd: %s"       # format of subject when forwarding
set forward_decode                   # decode when forwarding
set attribution = "\nOn %d, %n wrote:" # format of quoting header
set include                          # include message in replies
set forward_quote                    # include message in forwards

# mail sorting and grouping
set sort = threads
set sort_aux = reverse-last-date-received

macro index <f9> '<sync-mailbox><enter-command>source ~/.mutt/hotmail_muttrc<enter><change-folder>!<enter>' "Load hotmail profile"
macro index <f10> '<sync-mailbox><enter-command>source ~/.mutt/yahoo_muttrc<enter><change-folder>!<enter>' "Load yahoo profile"
macro index <f11> '<sync-mailbox><enter-command>source ~/.mutt/personal_muttrc<enter><change-folder>!<enter>' "Load personal profile"
macro index <f12> '<sync-mailbox><enter-command>source ~/.mutt/work_muttrc<enter><change-folder>!<enter>' "Load work profile"

#######################################################
###  Colors
#######################################################
color quoted    yellow     default
color quoted1   cyan       default
color quoted2   magenta    default
color quoted3   green      default
color quoted4   red        default

color signature blue default
color normal    white black
#color status    brightgreen blue
color indicator brightyellow black
color error     red black
color tree      yellow black
color attachment blue default
color header    green black .*
color header    brightred  black (^From\:|^Reply-To\:)
color header    brightyellow black (^To\:|^cc\:|^Cc\:)

color body      magenta      default "(ftp|http|https)://[^ ]+"
color body      magenta      default [-a-z_0-9.]+@[-a-z_0-9.]+
color body      brightgreen  default "^(gpg: )?Good signature"
color body      brightgreen  default "^(gpg: )?encrypted"
color body      brightred    default "^(gpg: )?Bad signature"
color body      red          default "^(gpg: )?warning:"
color body      red          default "^(gpg: ).*failed:"

color message    magenta        default # info messages
color search     brightyellow   red     # search matches
color tilde      brightmagenta  default # ~ at bottom of msg
color markers    red            default # + at beginning of wrapped lines
color hdrdefault cyan           default # default header lines
color bold       cyan           default # highlighting bold patterns in body
color underline  cyan           default # highlighting underlined patterns in body

color index     green          default  ~T      # Tagged
color index     red            white    ~F      # Flagged
color index     yellow         default  ~D      # Deleted

# vim: ft=muttrc
