{{ ansible_managed | comment('plain', prefix='#######\n#', postfix='#\n#######\n') }}
set mbox_type = Maildir
set realname = "Daniel Andrei Minca"
set from = "$realname <{{ mutt_email_user }}>"
set folder = "imaps://imap.gmail.com"
set imap_user = "{{ mutt_email_user }}"
set imap_pass = "{{ mutt_email_pass }}"
set spoolfile = "imaps://$imap_user:$imap_pass@imap.gmail.com/INBOX"
set ssl_starttls = yes

# sending email
set smtp_url = "smtp://$imap_user:$imap_pass@smtp.gmail.com:587/"
set postponed = "=Drafts"
set record = "=Sent"

###  Colors
color status    brightwhite red

set signature = ~/.mutt/personal_signature
# vim: ft=muttrc
