{{ ansible_managed | comment('plain', prefix='#######\n#', postfix='#\n#######\n') }}
# email settings
set realname = "Daniel Andrei Minca"
set imap_user = "{{ mutt_work_username }}"
set from = "$realname <{{ mutt_work_username }}>"
set imap_pass = "{{ mutt_work_pass }}"
set spoolfile = "imaps://$imap_user:$imap_pass@mail02.buc.gameloft.org/INBOX"
set mbox_type = Maildir
set folder = "imaps://$imap_user@mail02.buc.gameloft.org"
set ssl_starttls = yes

# disable writing extra copy of saved messages on disk
#set copy = no
set postponed = "=Drafts"
set record = "=Sent"

# sending email
set smtp_url = "smtp://$imap_user:$imap_pass@mail02.buc.gameloft.org:25/"
set smtp_authenticators = "gssapi:login"

###  Colors
color status    red yellow

set signature = ~/.mutt/work_signature
# vim: ft=muttrc
