{{ ansible_managed | comment('plain', prefix='#######\n#', postfix='#\n#######\n') }}
set mbox_type = Maildir
set realname = "Daniel Andrei Minca"
set from = "$realname <{{ mutt_yahoo_user }}>"
set folder = "imaps://imap.mail.yahoo.com"
set imap_user = "{{ mutt_yahoo_user }}"
set imap_pass = "{{ mutt_yahoo_pass }}"
set spoolfile = "imaps://$imap_user:$imap_pass@imap.mail.yahoo.com/INBOX"
set ssl_starttls = yes

# sending email
set smtp_url = "smtp://$imap_user:$imap_pass@smtp.mail.yahoo.com:587/"
set postponed = "=Drafts"
set record = "=Sent"

###  Colors
color status    brightwhite magenta

set signature = ~/.mutt/personal_signature
# vim: ft=muttrc
